<html>

<head>
  <!-- <script src="/src/ImportSmartContract.js"></script> -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <script src="/assets/scripts/dashboard.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/dashboard.css">

<body>
  <div class="background">
    <div>
      <ul class="nav">
    <li><a class="logo small" href="/dashboard">
    <img src="../assets/images/logo_small.png" alt="Go to dashboard!" ></a></li>
    <li><a class="logo search" href="/dashboard">
    <img src="../assets/images/search.png" alt="Search" ></a></li>
    <li><a class="logo magnifier" href="/dashboard">
    <img src="../assets/images/Group.png" alt="Search" ></a></li>
    <li><a class="logo heart" href="/dashboard">
    <img src="../assets/images/heart.png" alt="Heart" ></a></li>
    <li><a class="logo profile" href="/dashboard">
    <img src="../assets/images/profile_icon.png" alt="Profile" ></a></li>
  </ul>
         <ul class="shipment-list-vertical">
           <p class="bounty_count_title"><%= data.length %> Live Bounties</p>

             <% if (typeof data !== 'undefined' && data.length > 0) { %>

              <% for(var i=0; i < data.length; i++) { %>

                <button class="card" id="<%= data[i]._id %>">
                 <li>
                 <a href="#" class="shipment-customer">
                          <img src="<%= data[i].imageUrl %>" height="160" alt="iPhone 6" />
                      </a>
                 <div class="shipment-details">
                   <a class="heart_outline" href="/dashboard">
                   <img src="../assets/images/heartoutline.png" alt="Profile" ></a>
                     <h2><%= data[i].Name %></h2>
                     <p class="shipment-youtube"> @<%= data[i].Youtube %></p>
                     <p class="shipment-location"> <%= data[i].BountyDescription %></p>
                     <p class="shipment-initiation">Date Posted: <%= data[i].Date %></p>
                     <div class="price_container">
                      <p class="shipment-value">$ <%= data[i].BountyPrice %></p>
                      <p class="shipment-crypto"><%= data[i].BountyCryptoPrice %>ETH</p>
                     </div>
                 </div>
                 <div class="tags">
                 <% for(var j=0; j < data[i].Tags.length; j++) { %>
                   <div class="tag"><%= data[i].Tags[j] %></div>
                 <% } %>
                 </div>
                 <!-- <button className="confirm_contract">Confirm Contract</button> -->

                 </li>


              <% } %>
              <% } %>
            </button>
             </ul>
         </div>
       </div>

</body>
</html>
