<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/influencerPage.css">
    <script type="text/javascript" src="./node_modules/web3/dist/web3.min.js"></script>

</head>
<body>
  <link rel="stylesheet" type="text/css" href="../assets/css/dashboard.css">

<body>
  <div class="background">
    <div>
      <ul class="nav">
    <li><a class="logo small" href="/dashboard">
    <img src="../assets/images/logo_small.png" alt="Go to dashboard!" ></a></li>
    <li><a class="logo search" href="/dashboard">
    <img src="../assets/images/search.png" alt="Search" ></a></li>
    <li><a class="logo magnifier" href="/dashboard">
    <img src="../assets/images/Group.png" alt="Search" ></a></li>
    <li><a class="logo heart" href="/dashboard">
    <img src="../assets/images/heart.png" alt="Heart" ></a></li>
    <li><a class="logo profile" href="/dashboard">
    <img src="../assets/images/profile_icon.png" alt="Profile" ></a></li>
  </ul>
         <ul class="shipment-list-vertical">

             <% if (typeof data !== 'undefined') { %>
               <!-- <div class="first_card">
                <img class="influencer_image" src="<%= data.imageUrl %>" alt="Profile" ></a> -->
                <div class="card" id="<%= data._id %>">
                 <li>

                   <div class="priceContainerPage">
                     <p class="price-title">Prize</p>
                  <div class="price_container">
                      <p class="shipment-value">$ <%= data.BountyPrice %></p>
                      <p class="shipment-crypto"><%= data.BountyCryptoPrice %>ETH</p>
                  </div>
                 </div>

                 <div class="shipment-details">
                   <a class="heart_outline" href="/dashboard">
                   <img src="../assets/images/heartoutline.png" alt="Profile" ></a>
                     <h2><%= data.Name %></h2>
                     <p class="shipment-youtube"> @<%= data.Youtube %></p>
                     <p class="shipment-location"> <%= data.BountyDescription %></p>
                     <p class="shipment-initiation">Date Posted: <%= data.Date %></p>
                 </div>
                 <div class="tags">
                 <% for(var j=0; j < data.Tags.length; j++) { %>
                   <div class="tag"><%= data.Tags[j] %></div>
                 <% } %>
                 </div>
                 </li>
            <!-- </div> -->
          </div>
            <div class="card" id="<%= data._id %>">
             <li>
               <p class="bounty_count_title"> Fulfill the bounty</p>
            <label for="influencername" class="col-lg-2 control-label">Influencer Name</label>
              <input id="influencername" type="text">
            </br>
              <label for="brandname" class="col-lg-2 control-label">Brand Name</label>
              <input id="brandname" type="text">
              </br>
              <label for="terms" class="col-lg-2 control-label">Terms</label>
              <input id="terms" type="text">
              </br>

              <button class="submit_contract" id="button">Submit Contract</button>
            </li>
          </div>

          <div class="card content_urls" id="<%= data._id %>">
           <li>
             <p class="bounty_title_more"> More by <%=data.Name %></p>
             <% for(var i=0; i < data.ContentUrls.length; i++) { %>
             <iframe width="100%" height="100%"
            src="<%= data.ContentUrls[i] %>">
            </iframe>
            <% } %>

           </li>
         </div>
         <% } %>


             </ul>
         </div>
       </div>

    </div>
  </div>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script>

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];
        var SmartSponsor = web3.eth.contract([
	{
		"constant": false,
		"inputs": [
			{
				"name": "_influencerName",
				"type": "string"
			},
			{
				"name": "_brandName",
				"type": "string"
			},
			{
				"name": "_terms",
				"type": "string"
			}
		],
		"name": "set",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [],
		"name": "submitBid",
		"outputs": [],
		"payable": true,
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "get",
		"outputs": [
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]);

  var Coursetro = SmartSponsor.at('0x027f1dca4788d6cebdce5d71138847af14e4f3ef');
      console.log(Coursetro);
      $("#buttonget").click(function() {
          Coursetro.get(function(err, result){
            if(err){
              console.log(err);
            }
            else{
              console.log(result);
            }
          });
      });
      $("#button").click(function() {
          Coursetro.set($("#influencername").val(),$("#brandname").val(), $("#terms").val(), function(err, result){
            if(err){
              console.log(err);
              console.log("set error");
            }
            else{
              console.log("set success");
              console.log(result);
              window.location.replace('/confirmation');
              }
            });
          });

    </script>
</html>
